:root {
  --card-width: 100px;
  --card-height: 150px;
}

.card-svg {
  justify-content: center;
}

.card {
  margin: auto;
  text-align: center;
  pointer-events: all;
  x: calc((100% - var(--card-width)) / 2);
  y: calc((100% - var(--card-height)) / 2);
  width: var(--card-width);
  height: var(--card-height);
}

.card-text {
  margin: auto;
  width: var(--card-width);
  height: var(--card-height);
  text-align: center;
  transform: translate(45%, 50%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

.card-shadow {
  margin: auto;
  text-align: center;
  pointer-events: all;
  x: calc((100% - var(--card-width)) / 2);
  y: calc((100% - var(--card-height)) / 2 + 0.5em);
  width: var(--card-width);
  height: var(--card-height);
}

.card-group:hover .card {
  animation: moveCard 1000ms ease-in-out both infinite;
}

.card-group:hover .card-text {
  animation: tranform() 1000ms ease-in-out both infinite;
}

.show-white {
  fill: url(#white-gradient);
}

.show-black {
  fill: url(#black-gradient);
}

@keyframes moveCard {
  50% {
    y: calc((100% - var(--card-height)) / 2 - 0.5em);
  }
}
