:root {
  --card-width: 100px;
  --card-height: 150px;
}

.card-svg {
  justify-content: center;
}

.card {
  margin: auto;
  text-align: center;
  pointer-events: all;
  x: calc(50% - var(--card-width) / 2);
  y: 8;
  width: var(--card-width);
  height: var(--card-height);
}

.card-shadow {
  margin: auto;
  text-align: center;
  pointer-events: all;
  x: calc(50% - var(--card-width) / 2);
  y: 10;
  width: var(--card-width);
  height: var(--card-height);
}

.card:hover {
  animation: moveCard 1000ms ease-in-out both infinite;
}

.showWhite {
  fill: url(#white-gradient);
}

.showBlack {
  fill: url(#black-gradient);
}

@keyframes moveCard {
  50% {
    y: 3;
  }
}
